# Terraform state
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log
crash.*.log

# Terraform CLI configuration
.terraformrc
terraform.rc

#memo
/memo